/**
 * linkedbooster.app-2 Styles
 */

@namespace: ca;

@vendor-uri-base: '../../vendors';
@image-uri-base: '../../assets/images';
@icon-uri-base: '../../assets/images/icons';
@font-uri-base: '../../assets/fonts';

//Settings
@import 'settings/colors.less';
@import 'settings/fonts.less';
@import 'settings/typography.less';

//Helpers

//Third-party libraries
@import 'overrides/bootstrap.less';

//Component

//Layouts
// @import 'layouts/base.less';

//Modules
@import 'modules/header.less';
@import 'modules/footer.less';

//Pages
@import 'pages/home.less';
