/**
 * Modules - Layout Base Header
 ******************************
 */

// .layout-base {
//   #header{}
// }

.page-home {
  #header {
    .background-havelock-blue;
    .text-center;

    padding-top: 100px;
    padding-bottom: 100px;

    > .text {

    }

    > .button-search {
      .btn;
      .btn-primary;
    }
  }
}
