<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Clone Account</title>
    <meta content="" name="description">
    <meta content="Connecting people with fewer clicks" property="og:title">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href='' rel="shortcut icon" type="image/x-icon"/>
</head>
<body class="layout-base {% block bodyClass %}{% endblock %}">
{% include '../modules/header.swig' %}
{% block main %}{% endblock %}
{% include '../modules/footer.swig' %}
</body>
</html>
